---
import Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<Layout title="Blog | Dylan Ullrich">
  <section class="mx-auto h-full pt-24">
    <div>
      <h1 class="text-3xl font-bold text-white shadow-teal-500 text-shadow-lg">Blog</h1>
      <ul class="mt-2 w-full text-gray-100">
        {
          blogEntries.map((blogPostEntry) => (
            <li class="pt-6 hover:underline">
              <a
                href={`/blog/${blogPostEntry.slug}`}
                class="flex items-center justify-between"
              >
                <div class="flex items-center">
                  <Icon
                    name="line-md:text-box-multiple-twotone"
                    class="mr-4 text-gray-100 shadow-teal-500 drop-shadow-custom"
                  />
                  <h2>{blogPostEntry.data.title}</h2>
                </div>
                <time
                  datetime={blogPostEntry.data.pubDate.toISOString()}
                  class=""
                >
                  {blogPostEntry.data.pubDate.toDateString()}
                </time>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
