---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<Layout title="Blog | Dylan Ullrich">
  <section class="mx-auto h-full max-w-xl pt-24">
    <div>
      <h1 class="text-3xl text-white shadow-teal-500 text-shadow-lg">Blog</h1>
      <ul class="mt-8 w-full text-gray-100">
        {
          blogEntries.map((blogPostEntry) => (
            <li class="hover:underline">
              <a href={`/blog/${blogPostEntry.slug}`}>
                {blogPostEntry.data.title}
                <time
                  datetime={blogPostEntry.data.pubDate.toISOString()}
                  class="ml-24"
                >
                  {blogPostEntry.data.pubDate.toDateString()}
                </time>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
