---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<Layout title="Dylan Ullrich | Full Stack Developer">
  <section class="pt-24 mx-auto max-w-xl text-teal-200 h-full">
    <div>
      <h1
        class="text-3xl text-transparent bg-clip-text bg-gradient-to-r from-teal-500 to-gray-300 w-max"
      >
        Blog
      </h1>
      <ul class="mt-8 w-full">
        {
          blogEntries.map((blogPostEntry) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                {blogPostEntry.data.title}
                <time
                  datetime={blogPostEntry.data.pubDate.toISOString()}
                  class="ml-24"
                >
                  {blogPostEntry.data.pubDate.toDateString()}
                </time>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
