---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dylan Ullrich | Full Stack Developer">
  <section
    class="mx-auto flex flex-col items-center justify-center text-sky-100 h-full"
  >
  <h1 class="text-white">Blog</h1>
  </section>
</Layout>
