---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dylan Ullrich | Full Stack Developer">
  <section class="mx-auto flex h-full max-w-xl flex-col pt-24 text-sky-100">
    <h1 class="text-3xl text-white shadow-teal-500 duration-500 text-shadow-lg">
      Dylan Ullrich
    </h1>
    <div class="mt-8">
      <p class="text-lg font-semibold">Hi 👋, my name is Dylan Ullrich.</p>

      <p class="text-lg font-semibold">I am a Full Stack Developer.</p>
    </div>
  </section>
</Layout>
