---
import Layout from '@/layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
const tech = [
  {
    name: 'JavaScript',
    icon: 'logos:javascript',
    url: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
  },
  {
    name: 'TypeScript',
    icon: 'logos:typescript-icon',
    url: 'https://www.typescriptlang.org/',
  },
  {
    name: 'Node.js',
    icon: 'logos:nodejs-icon',
    url: 'https://nodejs.org/en/',
  },
  {
    name: 'Bash',
    icon: 'logos:bash-icon',
    url: 'https://www.gnu.org/software/bash/',
  },
  {
    name: 'Lua',
    icon: 'logos:lua',
    url: 'https://www.lua.org/',
  },
  {
    name: 'Nuxt',
    icon: 'skill-icons:nuxtjs-dark',
    url: 'https://nuxt.com/',
  },
  {
    name: 'Next',
    icon: 'skill-icons:nextjs-dark',
    url: 'https://nextjs.org/',
  },
  {
    name: 'Astro',
    icon: 'skill-icons:astro',
    url: 'https://astro.build/',
  },
  {
    name: 'Tailwind',
    icon: 'skill-icons:tailwindcss-dark',
    url: 'https://tailwindcss.com/',
  },
];
---

<Layout title="Dylan Ullrich · Full Stack Developer">
  <div class="w-full">
    <section
      id="intro"
      class="mx-auto flex -translate-y-60 flex-col pt-24 text-white opacity-0"
    >
      <div class="rounded-2xl p-4 shadow shadow-teal-400 bg-slate-800">
        <h1 class="text-4xl font-extrabold text-white">
          Dylan Ullrich · Software Developer
        </h1>
        <div class="mt-8">
          <p class="text-lg">Hi 👋, I'm Dylan.</p>
          <p class="pt-4 text-lg">I'm a Software Developer.</p>
          <p class="pt-2 text-lg">I enjoy start ups and opensource.</p>
          <p class="pt-2 text-lg">
            I use <a
              href="https://neovim.io/"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon
                name="skill-icons:neovim-dark"
                class="inline-block delay-200 ease-in hover:animate-bounce"
                size={28}
              /></a
            > to edit code.
          </p>
          <p class="pt-2 text-lg">
            I prefer to use the <a
              href="https://en.wikipedia.org/wiki/Linux_kernel"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon
                name="skill-icons:linux-dark"
                class="inline-block delay-200 ease-in hover:animate-bounce"
                size={28}
              /></a
            > kernal.
          </p>
          <p class="pt-2 text-lg">
            I use <a
              href="https://wiki.archlinux.org/"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon
                name="logos:archlinux"
                class="inline-block delay-200 ease-in hover:animate-bounce"
                size={28}
              /></a
            > , btw.
          </p>
        </div>
      </div>
    </section>
    <section
      id="tech"
      class="mx-auto flex max-w-xl translate-y-60 flex-col text-white opacity-0"
    >
      <div class="rounded-2xl p-4 shadow shadow-fuchsia-300 bg-slate-800">
        <p class="text-lg font-bold">
          Here's some tools I've been using recently:
        </p>
        <ul class="flex flex-wrap pt-4">
          {
            tech.map((item) => (
              <li class="w-full max-w-[170px] py-3 text-base font-semibold delay-200 ease-in hover:animate-bounce">
                <a
                  href={item.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex"
                >
                  <Icon name={item.icon} size={28} />
                  <p class="ml-2 truncate">{item.name}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <script>
      const intro = document.getElementById('intro');
      const tech = document.getElementById('tech');
      const newClass =
        'mx-auto flex h-full flex-col animate-fadeIn pt-8 sm:pt-24 text-white transition-transform delay-100 duration-500  ease-in';
      addEventListener('load', () => {
        if (intro) {
          intro.className = newClass;
        }
        if (tech) {
          tech.className = newClass;
        }
      });
    </script>
  </div>
</Layout>
