---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dylan Ullrich | Full Stack Developer">
  <section class="mx-auto flex h-full max-w-xl flex-col pt-24 text-sky-100">
    <h1
      class="text-shadow-lg shadow-teal-500 text-3xl text-white"
    >
      Dylan Ullrich
    </h1>
    <div>
      <p class="text-lg font-semibold">Hi 👋, my name is Dylan Ullrich.</p>

      <p class="text-lg font-semibold">I am a Full Stack Developer.</p>
    </div>
  </section>
</Layout>
