---
interface Project {
  name: string;
  description: string;
  imageUrl: string;
  url: string;
}

const projects: Project[] = [
  {
    name: "Assignment Buster",
    description:
      "Assignment Buster is a Slack App that helps students stay up-to-date with their coursework. Students are able to quickly access their Canvas assignments utilzing slash commands in slack.",
    imageUrl: "/images/assignment-buster.png",
    url: "https://github.com/dylanullrich/assignment-buster",
  },
  {
    name: "Captain Caption",
    description:
      "Allows users to transcribe and translate spoken language utilizing the speech to text API. Users can log in and save their transriptions to MongoDB, which is guarded with Auth0.",
    imageUrl: "/images/captain-caption.png",
    url: "https://github.com/dylanullrich/captain-caption",
  },
  {
    name: "Resty",
    description: `Resty is a browser based API testing tool. Give the deployment link a click, and enter in your favorite API's. `,
    imageUrl: "/images/resty.png",
    url: "https://github.com/dylanullrich/resty",
  },
  {
    name: "Serverless API",
    description:
      "AWS Lambda Serverless API. This example shows how I often use serverless functions rather than a more traditional server.",
    imageUrl: "/images/serverless-api.png",
    url: "https://github.com/dylanullrich/serverless-api",
  },
];
---

<section class="grid grid-cols-2 gap-4 px-4 sm:px-12">
  {
    projects.map((project) => (
      // <div class=" flex gap-4">
      <div class="rounded-lg bg-slate-600 p-6 shadow-lg shadow-black">
        <h3 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">
          {project.name}
        </h3>
        <p class="mt-3 max-w-xl text-lg text-gray-300">{project.description}</p>
        <div class="h-12 w-12 py-2 hover:scale-110">
          <a href={project.url} class="max-w-fit hover:scale-110">
            <img
              src="/images/GitHub-Mark-Light-120px-plus.png"
              alt="Github logo that links to project"
              width="32"
              height="32"
            />
          </a>
        </div>
      </div>
      // </div>
    ))
  }
</section>
